# Joins In MySQL

In [1]:
#Connectivity of jupyter with sql
!pip install jupysql --quiet

In [ ]:
## pip install jupysql --upgrade for jupysql upgradation if comes while loading command in orange.

In [2]:
#load the sql 
%load_ext sql

In [3]:
%%sql sqlite://
    create table Department(Deptno int primary key, Deptname varchar(20), loc varcar(25));
    insert into Department values(10,"Sales","Chicago");
    insert into Department values(20,"IT","New York");
    insert into Department values(30,"Finance","London");
    
    create table Employee(Empno int primary key, Empname varchar(20), Job varcar(25), Deptno int, Foreign key (Deptno) references Department (Deptno));
    insert into Employee values(101,"A","Sales",10);
    insert into Employee values(102,"B","Manager",10);
    insert into Employee values(103,"C","Manager",30);

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [4]:
%sql select * from Department;

Running query in 'sqlite://'

+--------+----------+----------+
| Deptno | Deptname |   loc    |
+--------+----------+----------+
|   10   |  Sales   | Chicago  |
|   20   |    IT    | New York |
|   30   | Finance  |  London  |
+--------+----------+----------+

In [5]:
%sql select * from Employee;

Running query in 'sqlite://'

+-------+---------+---------+--------+
| Empno | Empname |   Job   | Deptno |
+-------+---------+---------+--------+
|  101  |    A    |  Sales  |   10   |
|  102  |    B    | Manager |   10   |
|  103  |    C    | Manager |   30   |
+-------+---------+---------+--------+

# Inner Join

In [13]:
Emp_inner= %sql select Employee.Empno, Employee.Empname, Employee.Job,Department.Deptname,Department.loc from Employee inner join Department where Department.Deptno = 20;

Emp_inner

Running query in 'sqlite://'

+-------+---------+---------+----------+----------+
| Empno | Empname |   Job   | Deptname |   loc    |
+-------+---------+---------+----------+----------+
|  101  |    A    |  Sales  |    IT    | New York |
|  102  |    B    | Manager |    IT    | New York |
|  103  |    C    | Manager |    IT    | New York |
+-------+---------+---------+----------+----------+

In [1]:
## Create manager and project table

In [13]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\achyut sharma\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: six in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: prettytable in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (2.0.19)
Requirement already satisfied: sqlparse in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\achyut sharma\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\achyut sharma\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: colorama in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: jedi>=0.16 in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: decorator in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=4.2 in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in c:\users\achyut sharma\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\achyut sharma\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)

In [26]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%sql sqlite://

In [30]:
%%sql
CREATE TABLE Depatments(
dept_id int,
dept_name varchar(60)
);

insert into Departments values ()

Running query in 'sqlite://'

++
||
++
++

In [31]:
%sql SELECT * from Departments;

Running query in 'sqlite://'

(sqlite3.OperationalError) no such table: Departments
[SQL: SELECT * from Departments;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [21]:
%sql SELECT * from Department_1;

Running query in 'sqlite://'

(sqlite3.OperationalError) no such table: Department_1
[SQL: SELECT * from Department_1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [4]:
%%sql
CREATE TABLE Employees(
Emp_no int,
Emp_name varchar(100),
Job varchar(50),
Dept_id int);

UsageError: Cell magic `%%sql` not found.

In [7]:
%%sql  sqlite:// 
SELECT * FROM Employees;

UsageError: Cell magic `%%sql` not found.