In [1]:
import pandas as pd

In [2]:
dataframe1 = pd.read_excel("Pandas!1.xlsx")

In [3]:
dataframe1

    Name   Age  Marks
0   BCHFN   65    100
1  DKDKJD   52     66
2   TIHMH   78     23