# Python Day 2

### Series Demonstration.

In [2]:
# Import the pandas
import pandas as pd

In [3]:
# Import the numpy
import numpy as np

## Example 1

In [17]:
s = pd.Series(np.random.randn(5),index=["a","b","c","d","e"])
## "np.random" represents random numbers.
## "randn" represnts random numbers length which is 5.
## "index" represents series numbers ex:- 1,2,3,4 here  "a","b","c","d".

In [5]:
s

a   -1.557303
b    0.084043
c   -1.887543
d   -1.666588
e    2.064635
dtype: float64

## Example 2

In [6]:
s = pd.Series(np.random.randn(6),index=["a","b","c","d","e","f"])

In [7]:
s

a    1.727401
b   -0.506560
c   -1.730232
d   -0.690466
e    0.503244
f   -0.167842
dtype: float64

## Example 3

In [8]:
s = pd.Series(np.random.randn(3),index=["a","b","c","d","e","f"])

ValueError: Length of values (3) does not match length of index (6)

## Example 4

In [9]:
s = pd.Series(np.random.randn(6),index=[])

ValueError: Length of values (6) does not match length of index (0)

## Example 5

In [10]:
s = pd.Series(np.random.randn(6))

In [11]:
s

0   -0.927414
1   -1.530966
2    1.107628
3   -0.575883
4    1.562846
5    0.010242
dtype: float64

## Example 6

In [12]:
d ={"bina":1,"arjun":0,"aarav":2}

In [31]:
pd.Series(d)

bina     1
arjun    0
aarav    2
dtype: int64

## Example 7

In [13]:
d ={"bina":1,"arjun":0,"aarav":2,"d":np.nan} 
## "nan" is represents null values.

In [14]:
pd.Series(d)

bina     1.0
arjun    0.0
aarav    2.0
d        NaN
dtype: float64

## Example 8

In [15]:
d ={"bina":1,"arjun":0,"aarav":2}

In [16]:
pd.Series(d)

bina     1
arjun    0
aarav    2
dtype: int64

## Example 9

In [22]:
#Create one dictionary.
dict1 ={"a":1,"b":3,"d":5,"e":7}

# Convert this in series
s1 = pd.Series(dict1)

# Print the series
s1

a    1
b    3
d    5
e    7
dtype: int64

## Example 10

In [23]:
# Create one dictionary.
dict_2 ={"Name":"Ayush","Age":20,"Marks":"250"}

#Convert this in series.
series_2 = pd.Series(dict_2)

# Print the series.
print(series_2)

Name     Ayush
Age         20
Marks      250
dtype: object

## Example 11

In [30]:
# Create the dictionary with NaN.
dict_3 ={"Name":np.nan,"Age":27,"Marks":280}

# Convert it into series.
Series_3 = pd.Series(dict_3)

# Print the series_3.
Series_3

Name       NaN
Age       27.0
Marks    280.0
dtype: float64