## Python Day 3

## Dataframe (2 D Array) In Pandas

In [1]:
# Single Dimensional Data Structure

In [2]:
import pandas as pd

import numpy as np

In [3]:
b = np.random.randn(5)

In [4]:
b

array([ 0.12804642, -0.74164234,  0.08820035,  0.01943222,  1.42464341])

In [5]:
series1 = pd.Series(b)

In [6]:
series1

0    0.128046
1   -0.741642
2    0.088200
3    0.019432
4    1.424643
dtype: float64

In [7]:
a=[1,2,3,4,5]

In [10]:
a

[1, 2, 3, 4, 5]

In [13]:
b = np.randn(a)

AttributeError: module 'numpy' has no attribute 'randn'

In [19]:
# create one list.
A =[100,200,300,400,500]

# convert that list in array.
array_1 = np.array(A)

array_1

# Convert that array in series.
series_1 = pd.Series(array_1)


series_1

0    100
1    200
2    300
3    400
4    500
dtype: int32

In [23]:
# Perform arithmetic operations in series.
Add =series_1 + 1000
Add

# Multiplication 
Mul = series_1 * 100
Mul

# Subtraction
Sub = series_1 - 200
Sub

# Division
Div = series_1 / 2
Div

0     50.0
1    100.0
2    150.0
3    200.0
4    250.0
dtype: float64

In [29]:
# Try some malfunctioning Operations.
# Add a string in list.
list_2 = [10,"abc",20,30]
list_2

# convert it into array.
array_4 = np.array(list_2)
array_4

# convert into series.
series_3 = pd.Series(array_4)
series_3

0     10
1    abc
2     20
3     30
dtype: object

In [ ]:
# Now perform arithmetic operations in them.