In [5]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\achyut sharma\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: sqlparse in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (2.0.19)
Requirement already satisfied: ipython in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (7.31.1)
Requirement already satisfied: prettytable in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: six in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\achyut sharma\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\achyut sharma\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.3.0)
Requirement already satisfied: decorator in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (63.4.1)
Requirement already satisfied: jedi>=0.16 in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pygments in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: backcall in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.5)
Requirement already satisfied: traitlets>=4.2 in c:\users\achyut sharma\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: wcwidth in c:\users\achyut sharma\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\achyut sharma\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)

In [1]:
%load_ext sql

There's a new jupysql version available (0.9.0), you're running 0.8.0. To upgrade: pip install jupysql --upgrade

In [1]:
#%sql sqlite://
#CREATE TABLE Employee(Empno INT NOT NULL,Ename VARCHAR(50),Ename VARCHAR(50),Job VARCHAR(50),Deptno INT,PRIMARY KEY (Empno),FOREIGN KEY (Deptno) REFERENCES Department (Deptno));

#INSERT INTO Employee (Empno,Ename,Job,Deptno) VALUES (101,"A","Salesman",10),
#(102,"B","Manager",10),(103,"C","Manager",20);

In [2]:
%%sql sqlite://
CREATE TABLE Employee (
  Empno INT NOT NULL,
  Ename VARCHAR(50),
  Job VARCHAR(50),
  Deptno INT,
  PRIMARY KEY (Empno),
  FOREIGN KEY (Deptno) REFERENCES Department(Deptno)
);

INSERT INTO Employee (Empno, Ename, Job, Deptno) VALUES
  (101, "A", "Salesman", 10),
  (102, "B", "Manager", 10),
  (103, "C", "Manager", 20);

3 rows affected.

++
||
++
++

In [4]:
%%sql sqlite:// 
SELECT * FROM Employee;

+-------+-------+----------+--------+
| Empno | Ename |   Job    | Deptno |
+-------+-------+----------+--------+
|  101  |   A   | Salesman |   10   |
|  102  |   B   | Manager  |   10   |
|  103  |   C   | Manager  |   20   |
+-------+-------+----------+--------+