In [1]:
## This method is recomended to use sql within jupsql not sqlite3

In [2]:
## Connectivity of jupyter with sql by using jup extension

In [16]:
!pip install jupysql --quiet

In [17]:
##load the extension
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [18]:
%%sql sqlite://
    CREATE TABLE languages1 (name,rating,change);
    INSERT INTO languages1 VALUES('Python',14.44,2.48);
    INSERT INTO languages1 VALUES ('C',13.13,1.50);
    INSERT INTO languages1 VALUES ('Java',11.59,0.40);
    INSERT INTO languages1 VALUES ('C++',10.00,1.98);

Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [19]:
%sql  SELECT * FROM languages1;

 * sqlite://
Done.

[('Python', 14.44, 2.48),
 ('C', 13.13, 1.5),
 ('Java', 11.59, 0.4),
 ('C++', 10.0, 1.98)]

In [20]:
result = %sql SELECT * FROM languages1 WHERE rating > 10;

 * sqlite://
Done.

In [8]:
%pip install pandas seaborn  pip install memory-profiler --quiet

Note: you may need to restart the kernel to use updated packages.

In [9]:
import seaborn as sb

df = sb.load_dataset('tips')
conn = "sqlite:///example"
df.to_sql(
'tips',
conn,
if_exists='replace'
)

244

In [10]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]